// OptimaLTStd
@font-face {
  font-family: OptimaLTStd;
  font-weight: 400;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 400;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-Italic.otf');
}

@font-face {
  font-family: OptimaLTStd;
  font-weight: 500;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-Medium.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 500;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-MediumItalic.otf');
}

@font-face {
  font-family: OptimaLTStd;
  font-weight: 600;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-DemiBold.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 600;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-DemiBoldItalic.otf');
}

@font-face {
  font-family: OptimaLTStd;
  font-weight: 700;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-Bold.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 700;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-BoldItalic.otf');
}

@font-face {
  font-family: OptimaLTStd;
  font-weight: 800;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-Bold.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 800;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-BoldItalic.otf');
}

@font-face {
  font-family: OptimaLTStd;
  font-weight: 900;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-Black.otf');
}

@font-face {
  font-family: OptimaLTStdItalic;
  font-weight: 900;
  src: url('/assets/fonts/OptimaLTStd/OptimaLTStd-BlackItalic.otf');
}

// Pretendard
@font-face {
  font-family: Pretendard;
  font-weight: 100;
  src: url('/assets/fonts/Pretendard/Pretendard-Thin.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  src: url('/assets/fonts/Pretendard/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src: url('/assets/fonts/Pretendard/Pretendard-Light.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: url('/assets/fonts/Pretendard/Pretendard-Regular.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: url('/assets/fonts/Pretendard/Pretendard-Medium.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src: url('/assets/fonts/Pretendard/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: url('/assets/fonts/Pretendard/Pretendard-Bold.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src: url('/assets/fonts/Pretendard/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  src: url('/assets/fonts/Pretendard/Pretendard-Black.otf');
}

// Raleway
@font-face {
  font-family: Raleway;
  font-weight: 100;
  src: url('/assets/fonts/Raleway/Raleway-Thin.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 100;
  src: url('/assets/fonts/Raleway/Raleway-ThinItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 200;
  src: url('/assets/fonts/Raleway/Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 200;
  src: url('/assets/fonts/Raleway/Raleway-ExtraLightItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: url('/assets/fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 300;
  src: url('/assets/fonts/Raleway/Raleway-LightItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: url('/assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 400;
  src: url('/assets/fonts/Raleway/Raleway-Italic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: url('/assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 400;
  src: url('/assets/fonts/Raleway/Raleway-Italic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url('/assets/fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 500;
  src: url('/assets/fonts/Raleway/Raleway-MediumItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url('/assets/fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 600;
  src: url('/assets/fonts/Raleway/Raleway-SemiBoldItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: url('/assets/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 700;
  src: url('/assets/fonts/Raleway/Raleway-BoldItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 800;
  src: url('/assets/fonts/Raleway/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 800;
  src: url('/assets/fonts/Raleway/Raleway-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 900;
  src: url('/assets/fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
  font-family: RalewayItalic;
  font-weight: 900;
  src: url('/assets/fonts/Raleway/Raleway-BlackItalic.ttf');
}

html body {
  @apply font-Pretendard antialiased;
}

h1,
h2,
h3,
h4 {
  @apply font-Pretendard;
}

:root {
  --font-Pretendard: Pretendard;
  --font-OptimaLTStd: OptimaLTStd;
  --font-Raleway: Raleway;
}
