:root {
  // PRIMARY COLOR
  --c-primary-100: #e5d8d8;
  --c-primary-200: #cbb1b0;
  --c-primary-300: #b08b89;
  --c-primary-400: #966461;
  --c-primary-500: #7c3d3a;
  --c-primary-600: #63312e;
  --c-primary-700: #4a2523;
  --c-primary-800: #321817;
  --c-primary-900: #190c0c;

  // SECONDARY Navy COLOR
  --c-secondary-navy-100: #ced0d4;
  --c-secondary-navy-200: #9da2aa;
  --c-secondary-navy-300: #6b737f;
  --c-secondary-navy-400: #3a4555;
  --c-secondary-navy-500: #09162a;
  --c-secondary-navy-600: #071222;
  --c-secondary-navy-700: #050d19;
  --c-secondary-navy-800: #040911;
  --c-secondary-navy-900: #020408;

  // SECONDARY Blue COLOR
  --c-secondary-blue-100: #d2e7f7;
  --c-secondary-blue-200: #a6cfef;
  --c-secondary-blue-300: #79b7e6;
  --c-secondary-blue-400: #4d9fde;
  --c-secondary-blue-500: #2087d6;
  --c-secondary-blue-600: #1a6cab;
  --c-secondary-blue-700: #135180;
  --c-secondary-blue-800: #0d3656;
  --c-secondary-blue-900: #061b2b;

  // WARM GRAY COLOR
  --c-warm-gray-100: #fcfcf9;
  --c-warm-gray-200: #faf9f3;
  --c-warm-gray-300: #f7f6ee;
  --c-warm-gray-400: #f5f2e8;
  --c-warm-gray-500: #f2efe2;
  --c-warm-gray-600: #c2bfb5;
  --c-warm-gray-700: #919088;
  --c-warm-gray-800: #61605a;
  --c-warm-gray-900: #30302d;
}
